body {
  color: #000;
  font-family: monospace;
  background: #FFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='403' height='48.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23E2E2E2' stroke-width='6.6' stroke-opacity='0.2'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

button {
  border: none;
  background: none;
} button:hover {
  cursor: url(img/clickable-sm.png) 10 10, auto;
} 

.avatar {
  width: 150px;
  margin: 20px auto;
  border: 5px solid #000;
}

.myname {
  text-align: center;
}

.myname h2 {
  color: #68257a;
  font-size: 1.5rem;
}

p {
  font-size: 0.9em;
  margin-bottom: 5px;
}

p.lead {
  text-align: justify;
}

a {
  color: #68257a;
}

a:hover {
  cursor: url(img/clickable-sm.png) 10 10, auto;
  color: #000;
  text-decoration:solid underline #68257a;
}

i.fas,
i.fab,
i.far {
  color: #000;
  font-size: 30px;
  padding-right: 10px;
}

i.fab:hover,
i.far:hover,
i.fas:hover {
  padding-right: 8px;
  color: #68257a;
  transform: rotate(15deg);
}

footer {
  text-align: center;
  padding: 15px;
  margin-top: 25px;
  background-color: #656565;
  color: #ccc;
  font-size: 1em;
}
/*
@media (min-width: 900px) {
  header {
    clear: both;
    border-bottom: 1px dotted #ccc;
  }
  .avatar {
    float: left;
  }
  .myname {
    text-align: left;
  }
}
